<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Getting started: Serving Web Content</title>
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'"></p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cupiditate eaque enim excepturi exercitationem expedita hic incidunt iure labore laudantium necessitatibus, odio perspiciatis possimus quae sequi tempora ullam voluptatibus.
    </p>
    <img th:src="@{/images/vistula-logo.png}" width="300" height="300"/>
</body>
</html>